/* EXERCISE START */

.task-type-1{
    background-color: black;
  }
  
  .task-type-2{
    background-color: pink;
  }
  
  .task-type-3{
    background-color: blue;
  }
  
  .task-type-4{
    background-color: green;
  }