
/* Default Fonts & Colors*/
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

:root {
    --color1: #f7f7f7;
    --color2: #040404;
    --color3: #3769B6;
    --color4: #F1D6CB;
    --color5: #BED3F0;
    --color6: #06000E; 
    --color7: #2E2F45;
}

body{
    background-color: var(--color1);
}


/* logo design*/
.logo {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--color2);
    font-size: 20px;
}

/*Navigation*/
.material-icons {
    color: var(--color2);
}

header{
    display: block;
    height: 40px;
    margin: 8px 8px;
    width:100%;
    align-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--color4);
}

header nav ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
    
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 16px;
}

/*Footer*/

footer{
    width: 100%;
    padding: 32px 32px;
    background-color: var(--color7);
    color: var(--color1);
}

footer h3{
    color: var(--color1);
    font-weight: 700;

}

footer ul li a{
    color: var(--color1);
}

footer div{
    padding: 8px 0px;
}    


/* Dropdown Menus */
.dropdown-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.select{
    color:var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    cursor:pointer;
    transition: 0.3s;
}

.select:hover{
    background-color: var(--color3);
    color: var(--color1);
}

.caret{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var(--color3);
    transition: 0.3s;
}

.select:hover .caret{
    border-top: 8px solid var(--color1);
}

.caret-rotate{
    transform: rotate(180deg);
}

.selected{
    padding-right: 4px;
    font-weight: 700;
}

.select-clicked{
    background-color: var(--color3);
    color: var(--color1);
}

.sort-options{
    display:flex;
    width: 120px;
    transform:translateX(-52px);
    flex-direction: column;
    align-items: flex-start;

}

.options{
    list-style: none;
    padding: 8px 16px;
    background: var(--color1);
    border: 1px var(--color3) solid;
    box-shadow: 1px 4px 11px 1px rgba(55, 105, 182, 0.2);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color3);
    position: absolute;
    top: 88px;
    opacity: 0;
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.options li{
    padding: 8px 4px;
    cursor: pointer; 
    transition: 0.3s;
}

.options li:hover{
    background-color: var(--color3);
}

.options li:hover a{
    color: var(--color1);
}

.active a{
    font-weight: 700;
}

.options-open{
    display: block;
    opacity: 100%;
    list-style: none;
    padding: 8px 16px;
    background: var(--color1);
    border: 1px var(--color3) solid;
    box-shadow: 1px 4px 11px 1px rgba(55, 105, 182, 0.2);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color3);
    position: absolute;
    top: 88px;
}