/* INDEX */
.index-banner{
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url('ARC_Images/IMG_2_crop.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.index-banner h2{
    font-size: 12px;
    text-align:center;
    color: var(--color3);
    
} 

.btn{
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid var(--color3);
    align-items: center;
}
.btn-hero{
    background-color: rgba(247, 247, 247, 0.8);
}

