/* INDEX */
.index-banner{
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url('ARC_Images/IMG_2_crop.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-banner h2{
    font-size: 12px;
    text-align:center;
    color: var(--color3);
} 